@page
@model BarcodeApp.Pages.Shared.HelpModel
@{
}
<html>
<body>
    <p>To begin, enter a UPC on the main page. If you want to add multiple of a product at once, increase the number that appears on the left side of the UPC input field.
    Scanning a UPC with a barcode scanner will automatically press 'Submit' for you. If you do not have the UPC, please enter 'N/A' to search by SKU. Any scanned UPC which is
    not found in the system will prompt you to search by SKU. You can also search by the Item's title on Smashitsports.com . Once you find the item you are looking for, press the
    button for the item you want. This will add the count of the item you selected from the UPC page. To undo the last entry made, press 'Undo'. When you are finished entering items, or
    just want to save your progress, you can press 'Complete and Compile'.</p>
    <p>If you have an issue, please contact brent@smashitsports.com with a description of the issue.</p>
</body>
</html>